html {
     background-color:white;
}

body {
    font-family: Arial;
}

h1, h2 {
    color:Salmon;
    font-size:50px;
}

h3 {
    color:Salmon;
    font-size:30px;
}

b {
    color:Salmon;
}

p, .my-classes{
    font-size:20px;
}

img {
    height:50%;
    width:50%;
    padding-right:10px;
}

span {
    font-size:24px;
}

.my-classes {
    column-count:3;
    column-gap:40px;
}


.dropbtn {
    background-color:white;
    color:Salmon;
    padding:5px;
    font-size:24px;
}

.ACADEMICS-dropdown, .OUTSIDE-dropdown, .ABOUT-dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-content-academics {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content-outside {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content-about {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content-academics a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-outside a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-about a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-academics a:hover {background-color: Salmon; color:white;}
.dropdown-content-outside a:hover {background-color: Salmon; color:white;}
.dropdown-content-about a:hover {background-color: Salmon; color:white;}

/* Show the dropdown menu on hover */
.ACADEMICS-dropdown:hover .dropdown-content-academics {display: block;}
.OUTSIDE-dropdown:hover .dropdown-content-outside {display: block;}
.ABOUT-dropdown:hover .dropdown-content-about {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
 .dropbtn {background-color: salmon; color:white;}

